<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="vlntr-list"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" (click)="onLogout()">
      <ion-icon size="default" name="exit-outline" color="primary"></ion-icon>
    </ion-buttons>
    <!-- <ion-title>Update Volunteer</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <div class="ion-text-center">
      <ion-list-header>
        <ion-label>Update Volunteer Event</ion-label>
      </ion-list-header>
    </div>
  </ion-list>

  <ion-list class="line-input">

    <ion-label>Volunteer Event Name</ion-label>
    <ion-item>
      <ion-input [(ngModel)]="volunteer.volunteerName"></ion-input>
    </ion-item>
    <br>

    <ion-label>Description</ion-label>
    <ion-item>
      <ion-textarea rows="3" [(ngModel)]="volunteer.description"></ion-textarea>
    </ion-item>
    <br>

    <ion-label>Photo</ion-label>
    <ion-item>
      <input type="file" #fileBtn class="filebtn" (change)="uploadPic($event)"/>
        <div *ngIf="!volunteer.image">
          <ion-img class="profile-pic" (click)="updateProfilePic()" src="assets/default.png"></ion-img>
        </div>
        <div *ngIf="volunteer.image">
        <ion-img class="profile-pic" (click)="updateProfilePic()" [src]="volunteer.image"></ion-img>
      </div>
    </ion-item>
    <br>
  </ion-list>

  <ion-row>
    <ion-col>
      <ion-button color="primary" expand="block" (click)="updateVolunteer()">Update</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
