<ion-header>
  <ion-toolbar>
    <!-- <ion-title>Story List</ion-title> -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" (click)="onLogout()">
      <ion-icon size="default" name="exit-outline" color="primary"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar></ion-searchbar>
  <ion-list font>
    <ion-list-header>
      <ion-label>Stories</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let story of (stories | async)">
      <ion-card>
        <div class="ion-text-center">
          <div [routerLink]="'/view-story/'+story.id">
            <ion-img *ngIf="!!story.image" class="profile-pic"  [src]="story.image"></ion-img>
          </div>
          <ion-card-header>
            <ion-card-title><h5>{{story.storyName}}</h5></ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h4>{{story.description}}</h4>
          </ion-card-content>
          <ion-card-content>
            <!-- <ion-button color="danger" *ngIf="isAdmin" expand="block" [routerLink]="'/view-volunteer/'+volunteer.id">View</ion-button> -->
            <ion-button color="success" *ngIf="isAdmin" expand="block" [routerLink]="'/update-story/' + story.id">Edit</ion-button>
            <!-- <ion-button *ngIf="isAdmin" color="danger" expand="block" (click)="deleteStory()">Delete</ion-button> -->
          </ion-card-content>
        </div>
      </ion-card>
      
    </ion-item>
  </ion-list>

  <ion-fab *ngIf="isAdmin" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="'/add-story'">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
