<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="vlntr-list"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" (click)="onLogout()">
      <ion-icon size="default" name="exit-outline" color="primary"></ion-icon>
    </ion-buttons>
    <!-- <ion-title>View Volunteer</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <div class="ion-text-center">
        <ion-card-title>{{volunteer.volunteerName}}</ion-card-title>
      </div>
    </ion-card-header>

    <ion-card-content>
      <p align="justify">{{volunteer.description}}</p>
      <br>

      <div class="ion-text-center">
        <ion-button slot="start" *ngIf="isAdmin" color="warning" [routerLink]="'/update-volunteer/' + volunteer.id">Edit</ion-button>
        <ion-button slot="end" *ngIf="isAdmin" color="danger" (click)="deleteVolunteer()">Delete</ion-button>
        <ion-button color="primary" *ngIf="isCustomer" expand="block" [routerLink]="['/joinvlntr-form']">Apply</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
