<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="vlntr-list"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" (click)="onLogout()">
      <ion-icon size="default" name="exit-outline" color="primary"></ion-icon>
    </ion-buttons>
    <!-- <ion-title>Join Volunteer</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <div class="ion-text-center">
      <ion-list-header *ngFor="let volunteer of (volunteers | async)">
        <ion-label>Join {{volunteer.volunteerName}}</ion-label>
      </ion-list-header>
    </div>
  </ion-list>

  <ion-list class="line-input">

    <ion-label>Name</ion-label>
    <ion-item>
      <ion-input [(ngModel)]="joinvlntr.name"></ion-input>
    </ion-item>
    <br>

    <ion-label>Email</ion-label>
    <ion-item>
      <ion-input [(ngModel)]="joinvlntr.email"></ion-input>
    </ion-item>
    <br>

    <ion-label>Location</ion-label>
    <ion-item>
      <ion-input [(ngModel)]="joinvlntr.location"></ion-input>
    </ion-item>
    <br>

    <ion-label>Phone</ion-label>
    <ion-item>
      <ion-input [(ngModel)]="joinvlntr.phone"></ion-input>
    </ion-item>
    <br>
  </ion-list>

  <ion-row>
    <ion-col>
      <ion-button color="primary" expand="block" (click)="addJoinVlntr()">Apply</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
