<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="cpg-app-list"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" (click)="onLogout()">
      <ion-icon size="default" name="exit-outline" color="primary"></ion-icon>
    </ion-buttons>
    <!-- <ion-title>View Campaign</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <div class="ion-text-center">
        <ion-card-title>{{campaign.campaignName}}</ion-card-title>
        <ion-card-subtitle>{{campaign.description}}</ion-card-subtitle>
      </div>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Organization: </strong>{{campaign.organizationName}}</p>
      <p><strong>Category: </strong>{{campaign.category}}</p>
      <p><strong>Registration Num: </strong>{{campaign.registrationNum}}</p>
      <p><strong>Bank Name: </strong>{{campaign.bankName}}</p>
      <p><strong>Account Num: </strong>{{campaign.bankAccNum}}</p>
      <p><strong>Website: </strong>{{campaign.website}}</p>
      <p><strong>Email: </strong>{{campaign.email}}</p>
      <p><strong>Phone Num: </strong>{{campaign.phone}}</p>
      <p><strong>Donation Target: </strong>{{campaign.donationTarget}}</p>
      <p *ngIf="isAdmin"><strong>Status: </strong>{{campaign.status}}</p>
      <br>
      
      <div class="ion-text-center">
        <!-- <img src="assets/fundraise.png" *ngIf="isCustomer" routerLink="['/add-fundraiser']">
        <img src="assets/donate.png"> -->
        <ion-button color="primary" *ngIf="isCustomer" expand="block" [routerLink]="['/add-fundraiser']">Fundraise</ion-button>
        <ion-button color="success" *ngIf="isCustomer" expand="block" [routerLink]="['/make-donation']">Donate</ion-button>
        <ion-button slot="start" *ngIf="isAdmin" color="warning" [routerLink]="'/update-cpg-admin/' + campaign.id">Manage</ion-button>
        <ion-button slot="end" *ngIf="isAdmin" color="danger" (click)="deleteCampaign()">Delete</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
