<ion-header>
  <ion-toolbar>
    <!-- <ion-title>Campaign Application List</ion-title> -->
    <!-- <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" (click)="onLogout()">
      <ion-icon size="default" name="exit-outline" color="primary"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar></ion-searchbar>
  <ion-list font>
    <ion-list-header>
      <ion-label>Fundraisers</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let fundraiser of (fundraisers | async)">
      <ion-card>
        <div class="ion-text-center">
          <div [routerLink]="'/view-fund/'+fundraiser.id">
            <ion-img *ngIf="!!fundraiser.image" class="profile-pic"  [src]="fundraiser.image"></ion-img>
          </div>
          <ion-card-header>
            <ion-card-title><h5>{{fundraiser.title}}</h5></ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h4>{{fundraiser.story}}</h4>
            <!-- <ion-button fill="outline" color="secondary" expand="block" [routerLink]="'/view-cpg-admin/'+campaign.id">Contact</ion-button> -->
          </ion-card-content>
          <ion-card-content>
            <ion-row>
              <ion-col>
                <div>
                  <ion-label>
                    <h4><strong>RM {{fundraiser.total}}</strong><br>
                    of RM {{fundraiser.goal}}</h4>
                  </ion-label></div>
              </ion-col>
              <ion-col>
                <div>
                  <ion-label *ngFor="let campaign of (campaigns | async)">
                    <h4><strong>End on: </strong><br>{{campaign.endDate}}</h4>
                  </ion-label></div>
              </ion-col>
            </ion-row>
          </ion-card-content>
          <ion-card-content>
            <!-- <ion-button color="primary" *ngIf="isCustomer" expand="block" [routerLink]="['/add-fundraiser']">Fundraise</ion-button> -->
            <!-- <ion-button color="success" *ngIf="isCustomer" expand="block" [routerLink]="['/make-donation']">Donate</ion-button> -->
            <ion-button color="success" *ngIf="isCustomer" expand="block" [routerLink]="'/make-donation-fund/' + fundraiser.id">Donate</ion-button>
            <ion-button color="warning" *ngIf="isAdmin" expand="block" [routerLink]="'/update-fund/' + fundraiser.id">Manage</ion-button>
            <!-- <ion-button expand="block" *ngIf="isAdmin" color="danger" (click)="deleteFundraiser()">Delete</ion-button> -->
          </ion-card-content>
        </div>
      </ion-card>
      
      
      
    </ion-item>
  </ion-list>

  
</ion-content>
