<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--<ion-toolbar>
  <ion-buttons slot="end">
    <ion-menu-button *ngIf="authService.userData as user" auto-hide="false"></ion-menu-button>
  </ion-buttons>
</ion-toolbar>-->

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Profile</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div id="profile-info" *ngIf="username">
        <ion-grid>
          <ion-row>
            <ion-col size="4" class="user-image">
              <ion-img src="assets/dummy-user.png"></ion-img>
            </ion-col>
            <ion-col size="8">
              <p>{{username}}</p>
              <ion-button shape="round" color="primary" routerLink="/update-profile">Update Profile</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <!-- <ion-row *ngIf="authService.userData as user">
        <img class="align-self-start mr-5 img-thumbnail rounded-circle" 
              src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}" 
              alt="{{user.displayName}}">
        <br>
        <p><br>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></p>
        <p>User ID: <strong>{{user.uid}}</strong></p>
        <p>Email: <strong>{{user.email}}</strong></p>
        <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
        <br><br><br>
        <ion-button color="primary" expand="block" (click)="updateProfile()">Update</ion-button>
      </ion-row> -->
    </ion-card-content>
  </ion-card>
</ion-content>
