<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-button size="default" (click)="profilePage()">Profile</ion-button>
    <ion-button size="default" (click)="registerCpgPage()">Register Campaign</ion-button>
    <ion-button size="default" (click)="volunteerPage()">Volunteer</ion-button>
    <ion-button type="submit" (click)="authService.SignOut()" expand="block">Logout</ion-button>
  </div>
</ion-content>
