<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Forgot Password</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-segment value="favorite">
        Please enter your email adress to request a password reset.
      </ion-segment>

      <ion-item lines="full">
        <ion-input placeholder="Email" type="text" #email required></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" (click)="authService.PasswordRecover(passwordResetEmail.value)" expand="block">
            Reset Password
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <span>Go back to <span routerLink="/login">Login?</span></span>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
