<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="vlntr-list"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" (click)="onLogout()">
      <ion-icon size="default" name="exit-outline" color="primary"></ion-icon>
    </ion-buttons>
    <!-- <ion-title>Join Volunteer</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <div class="ion-text-center">
      <ion-list-header>
        <ion-label>Manage Join Volunteer</ion-label>
      </ion-list-header>
    </div>
  </ion-list>

  <ion-list class="line-input">

    <ion-label>Name</ion-label>
    <ion-item>
      <ion-input [(ngModel)]="joinvlntr.name" disabled></ion-input>
    </ion-item>
    <br>

    <ion-label>Email</ion-label>
    <ion-item>
      <ion-input [(ngModel)]="joinvlntr.email" disabled></ion-input>
    </ion-item>
    <br>

    <ion-label>Location</ion-label>
    <ion-item>
      <ion-input [(ngModel)]="joinvlntr.location" disabled></ion-input>
    </ion-item>
    <br>

    <ion-label>Phone</ion-label>
    <ion-item>
      <ion-input [(ngModel)]="joinvlntr.phone" disabled></ion-input>
    </ion-item>
    <br>
  </ion-list>

  <h5>ADMIN SECTION</h5>
  <ion-list class="line-input">
    <ion-label>Status (Approve or Reject)</ion-label>
    <ion-item>
      <ion-select placeholder="Select" [(ngModel)]="joinvlntr.status">
        <ion-select-option value="Approve">Approve</ion-select-option>
        <ion-select-option value="Reject">Reject</ion-select-option>
      </ion-select>
    </ion-item>
    <br>
  </ion-list>

  <ion-row>
    <ion-col>
      <ion-button color="primary" expand="block" (click)="updateJoinVlntr()">Manage</ion-button>
    </ion-col>
  </ion-row>
</ion-content>

